<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<hr />

<h2>Comments</h2>

<% @post.comments.each do |c| %>
  <li><%= c.body %>, <%= c.created_at.strftime("%B #{c.created_at.day.ordinalize} %Y %H:%M") %></li>
<% end %>